#dataTable tr td input{
	width:100%;
}

th {
	text-align: center;
}

.table-responsive{
	overflow-x:visible;
}

.pagination>.active>a,
.pagination>.active>a:focus, 
.pagination>.active>a:hover, 
.pagination>.active>span, 
.pagination>.active>span:focus, 
.pagination>.active>span:hover{
	background-color: #800000;
	border-color: #800000;
	color:white;
}

.pagination>li>a,
.pager li>a:focus, 
.pager li>a:hover{
	color:#800000;
}



/*CSS for dropdown box*/
select
{
	width: 400px;
	height: 29px;
	border-radius: 3px;
	border: 1px solid #CCC;
	font-weight: 200;
	font-size: 15px;
	font-family: Verdana;
	box-shadow: 1px 1px 5px #CCC;
}

/*CSS for input textbox and password*/

input[type='text']
{
	width: 400px;
	height: 29px;
	border-radius: 3px;
	border: 1px solid #CCC;
	padding: 8px;
	font-weight: 300;
	font-size: 15px;
	font-family: Verdana;
	box-shadow: 1px 1px 5px #CCC;
}

/*CSS for textarea*/

textarea
{
	width: 400px;
	height: 100px;
	border-radius: 3px;
	border: 1px solid #CCC;
	padding: 8px;
	font-weight: 200;
	font-size: 15px;
	font-family: Verdana;
	box-shadow: 1px 1px 5px #CCC;
}

.pagination>.active>a,
.pagination>.active>a:focus, 
.pagination>.active>a:hover, 
.pagination>.active>span, 
.pagination>.active>span:focus, 
.pagination>.active>span:hover{
	background-color: #800000;
	border-color: #800000;
	color:white;
}

.pagination>li>a,
.pager li>a:focus, 
.pager li>a:hover{
	color:#800000;
}

.leaflet-control-container .leaflet-routing-container-hide {
    margin-right: -3400px;
}